body{
margin:0;
font-family:sans-serif;
background:#2b1f16;
color:white;
}

/* HEADER */
.header{
padding:20px;
}

/* NEXT CARD */
.next-card{
margin:15px;
padding:25px;
border-radius:22px;
background:linear-gradient(135deg,#d6b06b,#8b6a3d);
color:white;
box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.next-card h1{
font-size:34px;
margin:10px 0;
}

/* PROGRESS BAR */
.progress{
width:100%;
height:8px;
background:rgba(255,255,255,.3);
border-radius:10px;
overflow:hidden;
margin:10px 0;
}

#progressBar{
height:100%;
width:0%;
background:white;
}

/* GRID */
.prayer-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
padding:15px;
}

.box{
background:#4a3728;
padding:20px;
border-radius:15px;
text-align:center;
}

.box h3{
color:#e5c27a;
}

/*prayer grid*/
.prayer-list{
margin:15px;
background:#4a3728;
border-radius:18px;
overflow:hidden;
}

.prayer-row{
display:flex;
justify-content:space-between;
padding:18px;
border-bottom:1px solid rgba(255,255,255,.1);
font-size:18px;
}

.prayer-row:last-child{
border-bottom:none;
}

.prayer-row span{
color:#ddd;
}

.prayer-row b{
color:#e5c27a;
}

*/nav menu*/
.bottom-nav{
position:fixed;
bottom:0;
width:100%;
background:#2b1f16;
display:flex;
justify-content:space-around;
padding:10px 0;
box-shadow:0 -5px 15px rgba(0,0,0,.4);
}

.nav-item{
text-align:center;
font-size:14px;
color:#aaa;
}

.nav-item.active{
color:#e5c27a;
}
