/* PAGE BACKGROUND */

.app-bg{
background:linear-gradient(180deg,#4b2f1c,#1c120b);
min-height:100vh;
color:white;
font-family:sans-serif;
}

/* TITLE */

.page-title{
text-align:center;
color:#f2d08b;
margin:20px 0;
}

/* SURAH LIST */

.surah-list{
padding:10px 15px;
}

/* SURAH CARD */

.surah-card{

display:flex;
align-items:center;

padding:15px;
margin-bottom:12px;

border-radius:18px;

background:linear-gradient(
145deg,
#3b2416,
#2a1a11
);

box-shadow:
8px 8px 20px rgba(0,0,0,0.6);

transition:0.3s;

}

/* CARD HOVER */

.surah-card:active{
transform:scale(0.97);
}

/* NUMBER */

.surah-number{

width:40px;
height:40px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

background:#f2d08b;
color:#2a1a11;

font-weight:bold;

margin-right:15px;

}

/* INFO */

.surah-info h3{
margin:0;
font-size:18px;
}

.surah-ar{
font-size:20px;
direction:rtl;
margin:3px 0;
}

.surah-en{
font-size:13px;
color:#ccc;
}
