/* PAGE BACKGROUND */

.app-bg{
background:linear-gradient(180deg,#4b2f1c,#1c120b);
min-height:100vh;
color:white;
font-family:sans-serif;
}

/* TITLE */

.page-title{
text-align:center;
color:#f2d08b;
margin:20px 0;
}

/* SURAH LIST */

.surah-list{
padding:10px 15px;
}

/* SURAH CARD */

.surah-card{

display:flex;
align-items:center;

padding:15px;
margin-bottom:12px;

border-radius:18px;

background:linear-gradient(
145deg,
#3b2416,
#2a1a11
);

box-shadow:
8px 8px 20px rgba(0,0,0,0.6);

transition:0.3s;

}

/* CARD HOVER */

.surah-card:active{
transform:scale(0.97);
}

/* NUMBER */

.surah-number{

width:40px;
height:40px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

background:#f2d08b;
color:#2a1a11;

font-weight:bold;

margin-right:15px;

}

/* INFO */

.surah-info h3{
margin:0;
font-size:18px;
}

.surah-ar{
font-size:20px;
direction:rtl;
margin:3px 0;
}

.surah-en{
font-size:13px;
color:#ccc;
}

*/nav menu*/
body{
padding-bottom:80px;
}

/* BOTTOM NAV BAR */

.bottom-nav{
position:fixed;
bottom:0;
left:0;
width:100%;

display:flex;
justify-content:space-around;
align-items:center;

padding:8px 0;

background:linear-gradient(
180deg,
#3b2416,
#1e120b
);

box-shadow:0 -6px 20px rgba(0,0,0,0.6);

z-index:1000;
}

/* NAV ITEM */

.nav-item{
display:flex;
flex-direction:column;
align-items:center;
text-decoration:none;

font-size:11px;
color:#aaa;
}

/* ICON BACKGROUND */

.icon-bg{

width:44px;
height:44px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

background:linear-gradient(
145deg,
#4a2e1c,
#1e120b
);

box-shadow:
6px 6px 12px rgba(0,0,0,0.6),
-3px -3px 8px rgba(255,255,255,0.05);

transition:0.3s;
}

/* ICON */

.nav-icon{
font-size:22px;
}

/* ACTIVE ICON */

.nav-item.active .icon-bg{

background:linear-gradient(
145deg,
#f2d08b,
#caa45a
);

box-shadow:
0 0 15px rgba(242,208,139,0.8),
0 0 25px rgba(242,208,139,0.5);

transform:translateY(-5px);
}

.nav-item.active{
color:#f2d08b;
}
