/* SAME BACKGROUND AS HOME */

.app-bg{

background:linear-gradient(
180deg,
#4b2f1c,
#1c120b
);

min-height:100vh;
color:white;

font-family:sans-serif;

}

/* PAGE */

.settings-page{

padding:20px;

}

/* TITLE */

.settings-title{

text-align:center;
color:#f2d08b;
margin-bottom:20px;

}

/* CARD */

.settings-card{

background:linear-gradient(
145deg,
#3b2416,
#2a1a11
);

border-radius:20px;

padding:15px;

box-shadow:
10px 10px 30px rgba(0,0,0,0.6);

}

/* ROW */

.setting-row{

display:flex;
justify-content:space-between;
align-items:center;

padding:14px 10px;

border-bottom:1px solid rgba(255,255,255,0.05);

font-size:16px;

}

/* REMOVE LAST BORDER */

.setting-row:last-child{
border-bottom:none;
}

/* SELECT */

select{

background:#2a1a11;
color:white;

border:none;

padding:5px 10px;

border-radius:8px;

}

/* LINKS */

.link a{

color:#f2d08b;
text-decoration:none;

}

/* DEVELOPER */

.developer{

margin-top:25px;

text-align:center;

color:#aaa;

font-size:14px;

}

*/nav menu*/
body{
padding-bottom:80px;
}

/* BOTTOM NAV BAR */

.bottom-nav{
position:fixed;
bottom:0;
left:0;
width:100%;

display:flex;
justify-content:space-around;
align-items:center;

padding:8px 0;

background:linear-gradient(
180deg,
#3b2416,
#1e120b
);

box-shadow:0 -6px 20px rgba(0,0,0,0.6);

z-index:1000;
}

/* NAV ITEM */

.nav-item{
display:flex;
flex-direction:column;
align-items:center;
text-decoration:none;

font-size:11px;
color:#aaa;
}

/* ICON BACKGROUND */

.icon-bg{

width:44px;
height:44px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

background:linear-gradient(
145deg,
#4a2e1c,
#1e120b
);

box-shadow:
6px 6px 12px rgba(0,0,0,0.6),
-3px -3px 8px rgba(255,255,255,0.05);

transition:0.3s;
}

/* ICON */

.nav-icon{
font-size:22px;
}

/* ACTIVE ICON */

.nav-item.active .icon-bg{

background:linear-gradient(
145deg,
#f2d08b,
#caa45a
);

box-shadow:
0 0 15px rgba(242,208,139,0.8),
0 0 25px rgba(242,208,139,0.5);

transform:translateY(-5px);
}

.nav-item.active{
color:#f2d08b;
}
