/* SAME BACKGROUND AS HOME */

.app-bg{

background:linear-gradient(
180deg,
#4b2f1c,
#1c120b
);

min-height:100vh;
color:white;

font-family:sans-serif;

}

/* PAGE */

.settings-page{

padding:20px;

}

/* TITLE */

.settings-title{

text-align:center;
color:#f2d08b;
margin-bottom:20px;

}

/* CARD */

.settings-card{

background:linear-gradient(
145deg,
#3b2416,
#2a1a11
);

border-radius:20px;

padding:15px;

box-shadow:
10px 10px 30px rgba(0,0,0,0.6);

}

/* ROW */

.setting-row{

display:flex;
justify-content:space-between;
align-items:center;

padding:14px 10px;

border-bottom:1px solid rgba(255,255,255,0.05);

font-size:16px;

}

/* REMOVE LAST BORDER */

.setting-row:last-child{
border-bottom:none;
}

/* SELECT */

select{

background:#2a1a11;
color:white;

border:none;

padding:5px 10px;

border-radius:8px;

}

/* LINKS */

.link a{

color:#f2d08b;
text-decoration:none;

}

/* DEVELOPER */

.developer{

margin-top:25px;

text-align:center;

color:#aaa;

font-size:14px;

}
