.settings-container{

padding:20px;

}

.settings-title{

text-align:center;
color:#f2d08b;
margin-bottom:20px;

}

.setting-item{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px;

margin-bottom:10px;

border-radius:15px;

background:linear-gradient(
145deg,
#3b2416,
#2a1a11
);

color:#fff;

box-shadow:
6px 6px 15px rgba(0,0,0,0.6);

}

.setting-item select{

background:#2b1a11;
color:#fff;
border:none;
padding:5px;
border-radius:6px;

}

.link a{

color:#fff;
text-decoration:none;

}

/* SWITCH */

.switch{

position:relative;
display:inline-block;
width:40px;
height:20px;

}

.switch input{

display:none;

}

.slider{

position:absolute;
cursor:pointer;

top:0;
left:0;
right:0;
bottom:0;

background:#555;
border-radius:20px;

}

.slider:before{

position:absolute;
content:"";

height:16px;
width:16px;

left:2px;
bottom:2px;

background:white;
border-radius:50%;

transition:0.3s;

}

input:checked + .slider{

background:#f2d08b;

}

input:checked + .slider:before{

transform:translateX(20px);

}

/* DEVELOPER */

.developer{

margin-top:30px;
text-align:center;
color:#aaa;
font-size:14px;

}
