body{
margin:0;
font-family:sans-serif;
background:#3b2a1f;
color:white;
text-align:center;
}

.center{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100vh;
}

.loader{
width:40px;
height:40px;
border:5px solid #ccc;
border-top:5px solid gold;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}

.slide{
display:none;
height:80vh;
justify-content:center;
align-items:center;
font-size:30px;
}

.active{
display:flex;
}

.menu{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
padding:20px;
}

.menu a{
background:#4a3728;
padding:20px;
color:white;
text-decoration:none;
border-radius:10px;
}


/* INTRO PHOTO SLIDER */

.slides{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background:#3b2a1f;
}

.slide{
display:none;
text-align:center;
}

.slide img{
width:260px;
border-radius:20px;
margin-bottom:20px;
}

.slide.active{
display:block;
animation:fade 1s;
}

.startBtn{
position:fixed;
bottom:40px;
left:50%;
transform:translateX(-50%);
padding:15px 40px;
background:#caa46a;
border:none;
border-radius:10px;
color:white;
font-size:18px;
}

@keyframes fade{
from{opacity:0}
to{opacity:1}
}
